<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout :: head">
        
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body onload="nobackbutton();">
        <header th:replace="layout :: header"></header>
        <div class="container mt-2 col-lg-7">
            <div class="card">
                <div class="card-header">
                    <center><b class="tituloPrincipal">Agregar Usuario</b></center>
                </div>
                <div class="card-body">
                    <form method="post" action="#" th:action="@{/usuarios/add}" th:object="${usuario}">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6"><b class="tituloTexto">Usuario: </b><input type="text" name="clave" class="form-control" required/>
                            </div><div class="col-md-6"><b class="tituloTexto">Password: </b><input type="text" name="pasaporte" class="form-control" required/></div>
                        </div>
                        <div class="row">
                            <div class="col-md-6"><b class="tituloTexto">Nombre: </b><input type="text" name="nombre" class="form-control" required/>
                            </div><div class="col-md-6"><b class="tituloTexto">Apellido Paterno: </b><input type="text" name="apellidoPaterno" class="form-control" required/></div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6"><b class="tituloTexto">Apellido Materno: </b><input type="text" name="apellidoMaterno" class="form-control" required/>
                            </div><div class="col-md-6"><b class="tituloTexto">Correo: </b><input type="text" name="correo" class="form-control" required/></div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6"><b class="tituloTexto">Telefono: </b><input type="text" name="telefono" class="form-control" required>
                            </div><div class="col-md-6"><b class="tituloTexto">Telefono2: </b><input type="text" name="telefono2" class="form-control"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-6"><b class="tituloTexto">Rol: </b><select class="form-control" name="rol.noRol" required>
                         <option value="">Selecciona...</option>
                         <option th:each="rol : ${roles}"
                            th:value="${rol.noRol}"
                            th:utext="${rol.descripcion}"/>
                        </select>
                            </div><div class="col-md-6"><b class="tituloTexto"></b></div>
                        </div>
                        <div class="valid-feedback">
                         Todo bien.
                         </div>
                        <div class="invalid-feedback">
                         Por favor proporcione telefono valido.
                         </div>
                        <br/>
                        <br/>
                        <input type="submit" class="btn btn-success" value="Agregar">
                        <a th:href="@{/usuarios}">Regresar</a>
                    </div>
                        </form>
                </div>
            </div>
            
            </div>
        </div>
        
    </body>
</html>
