body {
    background-color: #ffffff;
	color: black;
}

.container {
	margin-top: 20px;
        background-color: #ffffff;
        color: black;
}

footer {
	position: fixed;
	bottom: 0;
	margin: auto;
	padding: 20px;
	width: 100%;
	text-align: center;
}

footer .info-copyrigth {
	display: inline-block;
	color: #fff;
}

footer .info-copyrigth a {
	color: #fff;
}

.tituloTexto{
    color: #800040
}
.tituloPrincipal{
    color: #800040;
    font-size: large;
}

button * {
  pointer-events: none;
}

/* Just a really naive css example to swap the button contents with the spinner. Bring your own spinner & styles. */
.loading {
  opacity: .5;
}
.loading span {
  display: none;
}