body {
    background-color: #ffffff;
	color: black;
}

.container {
        padding-top: 100px;
	margin-top: 20px;
        background-color: #ffffff;
        color: black;
}

footer {
	position: fixed;
	bottom: 0;
	margin: auto;
	padding: 20px;
	width: 100%;
	text-align: center;
}

footer .info-copyrigth {
	display: inline-block;
	color: #fff;
}

footer .info-copyrigth a {
	color: #fff;
}

.tituloTexto{
    color: #800040;
    font-size: larger;
}

.descTexto{
    font-size: larger;
}

.tituloPrincipal{
    color: #800040;
    font-size: large;
    text-align: center;
}

button * {
  pointer-events: none;
}
input {
     text-transform: uppercase;
   }
   
/* Just a really naive css example to swap the button contents with the spinner. Bring your own spinner & styles. */
.loading {
  opacity: .5;
}
.loading span {
  display: none;
}

.card-header{
font:13px Arial, Helvetica, sans-serif;
font-weight: bold;  
}
.card-body{
font:12px Arial, Helvetica, sans-serif;
color:#333333;    
}


#tablaDatos th{
font:13px Arial, Helvetica, sans-serif;
font-weight: bold;
color:#333333;
border:none;
border-bottom:1px solid #e1e1e1;
text-align: left;
}
#tablaDatos td{
font:12px Arial, Helvetica, sans-serif;
color:#333333;
border:none;
padding:2px 2px;
border-bottom:1px solid #e1e1e1;
text-align: left;
}

#boton_agregar{
    text-decoration: none;
    padding: 6px;
    font-weight: 600;
    font-size: 11px;
    color: #ffffff;
    border-radius: 6px;
    border: 2px solid #0016b0;
}

#boton_editar{
    text-decoration: none;
    padding: 6px;
    font-weight: 600;
    font-size: 11px;
    color: #ffffff;
    border-radius: 6px;
}

#boton_eliminar{
    text-decoration: none;
    padding: 6px;
    font-weight: 600;
    font-size: 11px;
    color: #ffffff;
    border-radius: 6px;
}

#boton_reiniciar{
    text-decoration: none;
    padding: 6px;
    font-weight: 600;
    font-size: 11px;
    color: #ffffff;
    border-radius: 6px;
}


/*login en session*/

.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}


#divContentEncuesta {
position: relative;
height: 400px;
overflow: auto;
}
/*
.table-wrapper-scroll-y {
display: block;
}*/
#fondoBannerA{
background-color:#9c9c9c;
}
#fondoBanner{
background: rgba(201,201,201,1);
}
#fondoBannerMenu{
background: rgba(201,201,201,1);
padding-top: 0; 
padding-bottom: 0; 
margin-top: 56px;
}
.navbar-nav.navbar-center {
    position: absolute;
    left: 40%;
    transform: translatex(-30%);
}



