<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <meta charset="UTF-8"/>
        <title th:text="-RIIFE-"></title>
        <link rel="icon" type="image/png" th:href="@{/img/logosep.png}" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://unpkg.com/sweetalert2@9.5.3/dist/sweetalert2.all.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/cff6dddb5f.js"></script>
        <link rel="stylesheet" th:href="@{/css/dataTables.bootstrap4.min.css}">
        <link rel="stylesheet" th:href="@{/css/estilos.css}">
        <link rel="stylesheet" th:href="@{/css/component-chosen.css}">
        <script th:src="@{/js/chosen.jquery.min.js}"></script>
        <script th:src="@{/js/jquery.dataTables.min.js}"></script>
        <script th:src="@{/js/dataTables.bootstrap4.min.js}"></script>
        <script th:src="@{/js/operaciones.js}"></script>
        <script th:src="@{/js/alerta.js}"></script>
        
    </head>
    <body>
        <header th:fragment="header">
            <nav class="navbar navbar-expand-lg navbar navbar-light fixed-top" id="fondoBanner">
                <a th:href="@{/}">
                    <img th:src="@{/img/logosep.png}" width="140" height="45" alt="">
                </a>
                <ul class="nav navbar-nav navbar-center" style="font-size: large">
                <strong>REGISTRO DE INFORMACIÓN DE LA INFRAESTRUCTURA FÍSICA ESCOLAR</strong>
                </ul>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		</button>
            </nav>
            <nav class="navbar navbar-expand-lg navbar navbar-light fixed-top" id="fondoBannerMenu">
                <a class="navbar-brand" th:if="${session.usuario!=null}" ></a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <script th:inline="javascript" th:if="${session.usuario!=null}">
                      crearMenu([[${session.html}]]);
                    </script>
                </div>
            </nav>
        </header>


        <div class="container">
        </div>

    </body>
</html>