<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout :: head">
        
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script src="../../static/js/alerta.js"></script>
    </head>
    <body onload="nobackbutton();">
        <header th:replace="layout :: header"></header>
        
        <div class="container mt-4" th:switch="${lista}">
       <div class="text-center"><b class="tituloPrincipal">FORMAS</b></div>
       <h2 th:case="null">No hay Formas</h2>
        <div th:case="*">
        <div class="card border-info">
            <div class="card-header text-white">
                <a id="boton_agregar" style="font-size:15px;color: #333333;" title="Agregar Forma" th:href="@{/formas/agregar}" class="fas fa-plus-circle"></a>
            </div>
            <div class="card-body table-responsive-md">
                <div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" 
                     th:if="${mensaje != null}"
                     class="alert alert-dismissable text-center"
                     style="font-weight: bold;"
                     th:text="${mensaje}">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
                
                <table class="table table-sm table-striped table-hover table-bordered table-wrapper-scroll-y my-custom-scrollbar" id="tablaDatos">
                    <thead>
                        <tr>
                            <th style="width:10%">NO</th>
                            <th style="width:20%">TITULO</th>
                            <th style="width:10%">URL</th>
                            <th style="width:10%">ICONO</th>
                            <th style="width:20%">NOMBRE PADRE</th>
                            <th style="width:15%"> </th>
                            <th style="width:15%"> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="dato: ${lista}">
                            <td style="width:10%" th:text="${dato.noFormaMenu}"></td>
                            <td style="width:20%" th:text="${dato.titulo}"></td>
                            <td style="width:10%" th:text="${dato.url}"></td>
                            <td style="width:10%" th:text="${dato.icono}"></td>
                            <td style="width:20%" th:text="${dato.nombrePapa}"></td>
                            <td style="width:15%">
                                <a id="boton_editar" style="font-size:15px;color: #333333;" th:href="@{/formas/editar/{id}(id=${dato.noFormaMenu})}">
                                    <i title="Editar Forma" class="fas fa-edit"></i>
                                </a>
                            </td>
                            <td style="width:15%">
                                <a id="boton_eliminar" href="#" style="font-size:15px;color: #333333;" th:onclick="'javascript:mensajeEliminar(\''+ ${dato.noFormaMenu} +'\');'">
                                    <i title="Eliminar Forma" class="fas fa-trash-alt"></i>
                                </a>
                                <input type="hidden" value="formas" id="nombreModulo">
                            </td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
        </div>
        </div>
        </div>
        
    </body>
</html>
